body {
    background-color: black;
    color: white;
}
.nav-pills .nav-link.active {
    color: #fff;
    background-color: #555555;
}
.nav-link.active:hover {
    color: grey;
}
.nav-link {
    color:white;
}
.nav-link:hover {
    color:grey;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: grey;
}
.table {
    color: white;
}
.btn-new {
    background-color: #205090;
    color: white;
}
.btn-new:hover {
    background-color: #104080;
    color: white;
}
.table {
    border: 1px;
    border-color: white;
    width: auto;
}
