body {
    background-color: black;
    color: white;
}
.wrap {
    overflow: hidden;
    position: relative;
  }
  
  .bg {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
  .content {
    position: relative;
  }

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #555555;
}
.nav-link.active:hover {
    color: grey;
}
.nav-link {
    color:white;
}
.nav-link:hover {
    color:grey;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: grey;
}
.table {
    color: white;
}
.btn-new {
    background-color: #205090;
    color: white;
}
.btn-new:hover {
    background-color: #104080;
    color: white;
}
.btn-newer {
    background-color: #6481a7;
    color: white;
}
.btn-newer:hover {
    background-color: #c43636;
    color: white;
}
.table {
    border: 1px;
    border-color: white;
    width: auto;
}
.no-bullets {
    list-style-type: none;
}
td {
    vertical-align: middle;
}
.list-group-item {
    background-color: black;
    color: white;
    border-color: grey;
}
.btn-outline-secondary {
    color: white;
}
