{% for daytren in user_trens %}
    {% if daytren['idt'] == cryt_type %}
        {% set var = {'first': true} %}
        <tr>
            <td rowspan="{{ daytren['sets'] }}">{{ daytren["type"] }}</td>
            <td rowspan="{{ daytren['sets'] }}">{{ daytren["tdate"] }}</td>
            <td rowspan="{{ daytren['sets'] }}">{{ daytren["name"] }}</td>
        {% for training in user_table %}
            {% if training["tdate"] == daytren["tdate"] and training["name"] == daytren["name"] %}
                {% if var['first'] %}
                    <td>
                        {% if training["unit"] != 'bodyweight' %}
                                {{ training["weight"] }}
                        {% endif %}
                        {{ training["unit"] }}
                    </td>
                    <td>&times;{{ training["reps"] }}</td>
                    <td>{% if training["duration"] %}{{ training["duration"] }} sec.
                        {% else %} Not given.
                        {% endif %}</td>
                    <td>{{ training["notes"] }}</td>
                    </tr>
                    {% if var.update({'first': false}) %}{% endif %}
                {% else %}
                    <tr>
                        <td>
                            {% if training["unit"] != 'bodyweight' %}
                                {{ training["weight"] }}
                            {% endif %}
                            {{ training["unit"] }}
                        </td>
                        <td>&times;{{ training["reps"] }}</td>
                        <td>{% if training["duration"] %}{{ training["duration"] }} sec.
                            {% else %} Not given.
                            {% endif %}</td>
                        <td>{{ training["notes"] }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}