{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block navbar %}
    
        <li class="nav-item"><a class="nav-link" aria-current="page" href="/login">Log in</a></li>
        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
    
{% endblock %}

{% block main %}

<div class="container-fluid mt-3 w-25">
    <form action="/forgot" method="post">
        <input type="hidden" name="username" value="{{ username }}">

        <div class="mt-3 mb-3 form-group row">
            <button class="btn btn-new" disabled>{{ username }}</button>
        </div>

        <p>Your security question is: {{ question }}</p>
        
        <input class="form-control w-auto mx-auto mb-3" id="answer" name="answer" placeholder="Answer" type="password">

        <button class="btn btn-secondary" type="submit">Reset</button>
    </form>
</div>

{% endblock %}