{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block navbar %}
    
        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login">Log in</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
    
{% endblock %}

{% block main %}
    <div class="container-fluid mt-3">
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-secondary" type="submit">Log in</button>
        </form>
    </div>
{% endblock %}
