{% extends "layout.html" %}

{% block title %}
    New
{% endblock %}


{% block main %}

{% if error %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ error }}</strong> Please complete the form again.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}


    <div class="container-md mt-3" style="width:350px">
        <form action="/new" method="post">

            <div class="mt-1 row">
                <label class="col-form-label col-sm-3 mt-2">Type</label>
                <div class="col-sm-5 mt-2">
                        <select class="form-select" id="type" name="type">
                            <option selected disabled>Choose one</option>
                            <option>Upper body</option>
                            <option>Lower body</option>
                            <option>Full body</option>
                            <option>Push</option>
                            <option>Pull</option>
                            <option>Shoulders</option>
                            <option>Biceps</option>
                            <option>Triceps</option>
                            <option>Chest</option>
                            <option>Abs</option>
                            <option>Legs</option>
                            <option>Back</option>
                            <option>Cardio</option>
                        </select>
                </div>
                <div class="col-sm-4 mt-2">
                        <input autocomplete="off" class="form-control mx-auto"  id="custom_type" name="custom_type" placeholder="Custom type" type="text">
                </div>
            </div>
            <div class="mt-4 row">
                <label class="mx-auto col-form-label col-sm-4">Name</label>
                <div class="col-sm-8">
                    <input autocomplete="off" class="form-control mx-auto" id="name" name="name" placeholder="Exercise name" type="text">
                </div>
                    
            </div>

            <div class="mt-4 row">
                <label class="mx-auto col-form-label col-sm-4">Training day</label>
                <div class="col-sm-8">
                    <select class="form-select" id="training_day" name="training_day">
                        <option selected disabled></option>
                        <option>Monday</option>
                        <option>Tuesday</option>
                        <option>Wednesday</option>
                        <option>Thursday</option>
                        <option>Friday</option>
                        <option>Saturday</option>
                        <option>Sunday</option>
                    </select>
                </div>
            </div>
            
            
            <button class="btn btn-secondary mt-3" type="submit">Add</button>
        </form>
    </div>
{% endblock %}
