{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block navbar %}
    
        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/register">Register</a></li>
    
{% endblock %}

{% block main %}

    {% if error %}
        <p class="error">Error: {{ error }}</p>
    {% endif %}

    <div class="container-fluid mt-3">
        <form action="/register" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm password" type="password">
            </div>
            <button class="btn btn-secondary" type="submit">Register</button>
        </form>
    </div>
{% endblock %}
