{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block today %}
    {% if tday %}
        <li class="nav-item mx-auto"> Today is <b>{{ day }}</b> {{ date }}, which means it is {% for t in tday %}<b>{{ t["type"] }} </b>{% endfor %} day! </li>
    {% else %}
        <li class="nav-item mx-auto"> You have no trainings planned</li>
    {% endif %}
{% endblock %}

{% block main %}
    <h2>
        Hello {{ username }}! Exists: {{ exists }} Typ: {{ typ }}
    </h2>
    
        <form action="/new" method="get">
            <button class="btn btn-secondary mt-3" type="submit">Create new training</button>
        </form>
    <div class="container-fluid mt-3">
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#trainings" aria-expanded="false" aria-controls="trainings">
                Your exercises
        </button>
        <div class="collapse" id="trainings">
              
            {% for training in trainings %}
                <form action="/train" method="get">
                    <div class="container-fluid mt-3">
                        <input type="hidden" name="type" value="{{ training['type'] }}">
                        <button class="btn btn-new" type="submit">{{ training["type"] }}</button>
                    </div>
                </form>
            {% endfor %}
                    
        </div>
    </div>
    {% if user_table != False %}
        <div class="container-fluid mt-3">
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#past" aria-expanded="false" aria-controls="past">
                Your past trainings
            </button>
            <div class="collapse" id="past">
                <div class="mt-3 table-responsive">
                    <table class="mx-auto table table-bordered table-striped table-dark">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Day</th>
                            <th>Type</th>
                            <th>Training</th>
                            <th>weight</th>
                            <th>Reps in set</th>
                            <th>Duration</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for training in user_table %}
                        {% set r =  3 - 1 %}
                            <tr>
                                <td rowspan="3">{{ training["tdate"] }}</td>
                                <td rowspan="3">{{ training["day"] }}</td>
                                <td rowspan="3">{{ training["type"] }}</td>
                                <td rowspan="3">{{ training["name"] }}</td>
                                <td>{{ training["weight"] }} {{ training["unit"] }}</td>
                                <td>{{ training["reps"] }} in 3</td>
                                <td>{{ training["duration"] }}</td>
                            </tr>
                            {% for i in range(r) %}
                            <tr>
                                <td>{{ training["weight"] }} {{ training["unit"] }}</td>
                                <td>{{ training["reps"] }} in 3</td>
                                <td>{{ training["duration"] }}</td>
                            </tr>
                            {% endfor %}
                        
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
