{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block lognav %}

        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link white" href="#">Another thing</a></li>

{% endblock %}

{% block today %}
        <li class="nav-item"> Today is <b>{{ day }}</b> which means it is ...! </li>
{% endblock %}

{% block main %}
    <div class="container-fluid mt-3">
        <form action="/add" method="post">
            <button class="btn btn-secondary" type="submit">Create new training</button>
        </form>
    </div>
    <div class="container-fluid mt-3">
        <form action="/train" method="post">
            {% for training in user_table %}
            <input type="hidden" name="id" value="{{ training['t_id'] }}">
            <button class="btn btn-secondary" type="submit">{{ training["t_name"] }}</button>
            {% endfor %}
        </form>
    </div>
{% endblock %}
